.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #0000;
    color: #eee;
}

.error-page h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.error-page p {
    font-size: 2rem;
}