<div class="container">

    <div class="col" style="text-align: center;">
        <h1>{{titulo}}</h1>
    </div>

    <br>

    <form class="form-group row formulario">

        <div class="form-group col-md-3">
            <label for="nombre">Titulo:</label>
            <input type="text" name="nombre" id="nombre" placeholder="Titulo" class="form-control" [(ngModel)]="cuadroNombre">
        </div>
        
        <div class="form-group col-md-3">
            <label for="apellido">Descripcion:</label>
            <input type="text" name="apellido" id="apellido" placeholder="Descripcion" class="form-control" [(ngModel)]="cuadroApellido">
        </div>

        <div class="form-group col-md-3">
            <label for="salario">Estado:</label><br>
            <select class="form-control" name="Estado" id="Estado" [(ngModel)]="cuadroSalario">
                <option value="Pendiente">Pendiente</option>
                <option value="En Ejecución">En Ejecución</option>
                <option value="Finalizado">Finalizado</option>
            </select>
        </div>

        <div class="col">
            <button type="button" class="boton" style="margin-top: 15px; margin-right: 30px;" (click)="accionEmpleado()">Listo</button>
            <!--<button type="submit" class="btn btn-primary" style="margin-top: 15px;" (click)="eliminarEmpleado()">Eliminar</button>-->
        </div>
    </form>
</div>