body{
    background-image: url(https://images4.alphacoders.com/131/1318503.jpeg);
    height: 100%;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.navegacion{
    background-color: #333;
    margin: 0;
    margin-bottom: 50px;
    padding-top: 0.1px;
    width: 100%;
}

.title{
    position: relative;
    top: 10px;
    text-decoration: none;
    color: #fff;
    margin: 15px;
    font-size: 20px;
    background-color: #333;
}

.link{
    position: relative;
    bottom: 15px;
    left: 150px;
    text-decoration: none;
    margin: 0 5px;
    color: #fff;
    background-color: #333;
    padding: 6px 10px;
    border-radius: 20px;
}

.link:hover{
    background-color: #202124;
}

.itemslog{
    margin-right: auto;
}

.link1{
    margin: 5px;
}