<body>
<header>
<nav class="navegacion">
    <a class="title" href="">Terepaima</a>
    
    <div class="barra" id="navbarNav">
        <ul class="nav">
        <li class="items">
            <a class="link" href="">Home <span class="sr-only"></span></a>
        </li>
        <li class="items">
            <a class="link" href="quienes">¿Quien Soy?</a>
        </li>
        <li class="items">
            <a class="link" href="contacto">Contactos</a>
        </li>
        <li class="itemslog" *ngIf="!login()">
            <a class="link" href="login">Login</a>
        </li>
        <li class="itemslog" *ngIf="login()">
            <a class="link" (click)="logout()">Logout</a>
        </li>
        </ul>
    </div>
</nav>
</header>
<router-outlet></router-outlet>
</body>