body{
    background-image: url(../assets/images/ventura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    height: fit-content;
    position: absolute;
    width: 100%;
}

.navegacion{
    background-color: #3b3030c0;
    margin: 0;
    margin-bottom: 50px;
    padding-top: 0.1px;
    width: 100%;
}

.title{
    position: relative;
    top: 10px;
    text-decoration: none;
    color: #fff;
    margin: 15px;
    font-size: 20px;
}

.link{
    position: relative;
    bottom: 15px;
    left: 150px;
    text-decoration: none;
    margin: 0 5px;
    color: #fff;
    padding: 6px 10px;
    border-radius: 20px;
}

.link:hover{
    background-color: #444;
}

.itemslog{
    margin-right: auto;
}

.link1{
    margin: 5px;
}