<div class="container">
    <div>
        <b>{{indice+1}}: Titulo:</b> {{empleado.nombre}}<br>
        <b>Descripcion:</b> {{empleado.apellido}}<br>
        <b>Observaciones:</b> {{empleado.cargo}}<br>
        <b>Estado:</b> {{empleado.salario}}<br><br>

        <a class="link" [routerLink]="['/actualizar', indice]" [queryParams]="{accion:1}">
            Actualizar
        </a>
        <a class="link" [routerLink]="['/actualizar', indice]" [queryParams]="{accion:2}">
            Eliminar
        </a>
    </div>
</div>
