.container{
    background-color: #3b3030;
    border-radius: 5px;
    padding: 10px;
    color: #ddd;
    margin-bottom: 10px;
    line-height: 23px;
    /* text-align: center; */
}

.link{
    text-decoration: none;
    background-color: #4c9daf;
    color: inherit;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.titulo{
    margin: 10px 20px;
    display: inline-block;
}

.comentario{
    margin: 5px 0px;
}

.indice{
    font-size: 2rem;
}