.container{
    background-color: #6c432597;
    padding: 20px;
    border-radius: 10px;
    color: #eee;
}

.boton{
    background-color: #4c9daf;
    border: none;
    color: #ddd;
    padding: 8px 25px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}